<nav class="container mx-auto flex items-center justify-between py-5">
  <div class="text-3xl font-bold cursor-pointer">Urban<span class="text-rose-700 ">Nest</span></div>
  <div>
    <ul class="flex items-center text-lg gap-10">
      <li class="cursor-pointer">Home</li>
      <li class="cursor-pointer">Features</li>
      <li class="cursor-pointer">Properties</li>
      <li class="cursor-pointer">Agents</li>
    </ul>
  </div>
  <div class="flex items-center gap-10">
    <p>Add Property</p>
    <a
      class="group relative inline-flex items-center overflow-hidden rounded bg-rose-600 px-8 py-3 text-white focus:outline-none focus:ring active:bg-rose-500"
      href="#"
    >
      <span class="absolute -start-full transition-all group-hover:start-4">
        <svg
          class="size-5 rtl:rotate-180"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M17 8l4 4m0 0l-4 4m4-4H3"
          />
        </svg>
      </span>

      <span class="text-sm font-medium transition-all group-hover:ms-4"
        >Login </span
      >

    </a>
  </div>
</nav>
