{% extends "main.html" %}
{% block content %}
<section class="container mx-auto px-8">
    <div>
        <div class="py-5 flex justify-end">
            {% if request.user == agent %}
            <a href="{% url 'edit-profile' %}" class="text-white bg-indigo-600 px-3 py-1.5 rounded-full text-sm">Edit
                Profile</a>
            {% endif %}
        </div>
        <div class="flex gap-10">
            <div class="">
                <img src="{{agent.profile_image.url}}" class="h-32 w-32 object-cover rounded-full" alt="">
            </div>
            <div class="flex flex-col justify-center">
                <div>
                    <p class="font-semibold text-xl">{{agent.full_name}}</p>
                </div>
                <div class="mt-3 flex items-center gap-2">
                    {% if agent.phone %}
                    <p class="text-sm text-gray-700"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z" />
                        </svg>
                    </p>
                    <p class="text-gray-700">{{agent.phone}}</p>
                    {% endif %}
                </div>
                <div class="mt-3 flex items-center gap-2">
                    {% if agent.email %}
                    <p class="text-sm text-gray-700"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                        </svg>
                    </p>
                    <p class="text-gray-700">{{agent.email}}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="py-10">
        <h2 class="text-3xl font-bold">Listed Properties</h2>
        <div class="grid lg:grid-cols-3 gap-8 my-5">
            {% for property in properties %}
            <div class="block rounded-lg py-4 shadow-lg shadow-indigo-100 overflow-hidden relative">
                <span
                    class="px-3 absolute mt-5 text-white rounded-r-full py-1 {% if property.listing_type == 'sell' %}bg-red-500{% else %}bg-green-500{% endif %} capitalize">{{property.listing_type}}</span>
                <a href="{% url 'property' property.id %}">

                    <img alt="" src="{{property.property_image.url}}" class="h-56 w-full rounded-md object-cover" />
                </a>
                <div class="mt-2 p-2">
                    <dl>
                        <div class="flex items-center justify-between">
                            <dt class="sr-only">Price</dt>
                            <dd class="text-sm text-gray-500">${{property.price}}</dd>
                        </div>

                        <div>
                            <dt class="sr-only">Address</dt>
                            <a href="{% url 'property' property.id %}">
                                <dd class="font-medium">{{property.name}}</dd>
                            </a>
                        </div>
                    </dl>

                    <div class="mt-6 flex items-center justify-between text-xs">
                        <div class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-2">
                            <svg class="size-4 text-indigo-700" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M8 14v3m4-3v3m4-3v3M3 21h18M3 10h18M3 7l9-4 9 4M4 10h16v11H4V10z" />
                            </svg>

                            <div class="mt-1.5 sm:mt-0">
                                <p class="text-gray-500">Parking</p>

                                <p class="font-medium">{{property.parking}} spaces</p>
                            </div>
                        </div>

                        <div class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-2">
                            <svg class="size-4 text-indigo-700" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z" />
                            </svg>

                            <div class="mt-1.5 sm:mt-0">
                                <p class="text-gray-500">Bathroom</p>

                                <p class="font-medium">{{property.bathroom}} rooms</p>
                            </div>
                        </div>

                        <div class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-2">
                            <svg class="size-4 text-indigo-700" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" />
                            </svg>

                            <div class="mt-1.5 sm:mt-0">
                                <p class="text-gray-500">Bedroom</p>

                                <p class="font-medium">{{property.bedroom}} rooms</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
</section>
{% endblock content %}