{% extends "main.html" %}
{% block content %}
<section class="container mx-auto min-h-screen">
  <div class="flex flex-col items-center m-5 space-y-1">
    <h1 class="text-center text-3xl font-semibold">Our Agents</h1>
    <p class="h-1 w-52 bg-indigo-600"></span>
  </div>
  <div class="grid grid-cols-4 gap-10">
    {% for agent in agents %}
    <div
      class="max-w-2xl mx-4 sm:max-w-sm md:max-w-sm lg:max-w-sm xl:max-w-sm sm:mx-auto md:mx-auto lg:mx-auto xl:mx-auto mt-16 bg-white shadow-xl rounded-lg text-gray-900">
      <div class="rounded-t-lg h-32 overflow-hidden">
        <img class="object-cover object-top w-full"
          src='https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ'
          alt='Mountain'>
      </div>
      <div class="flex justify-center -mt-16">
        <img class="h-32 rounded-full w-32 object-cover" src={{agent.profile_image.url}} alt='profile'>
      </div>
      <div class="text-center mt-2">
        <h2 class="font-semibold">{{agent.full_name}}</h2>
      </div>
      <div class="py-4 mt-2 text-gray-700 flex items-center justify-around">
        <p class="flex items-center gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
          </svg>

          <span>{{agent.property_set.count}} properties listed</span>
        </p>

      </div>
      <div class="p-4 border-t mx-8 mt-2">
        <a href="{% url 'agent' agent.id%}"
          class="w-fit block mx-auto rounded-full bg-gray-900 hover:shadow-lg font-semibold text-white px-6 py-2">View
          Profile</a>
      </div>
    </div>

    {% endfor %}
  </div>
</section>
{% endblock content %}