{% extends "main.html" %} {% block content %} {% load static %}

<section class="container mx-auto my-8 min-h-screen">
  <div class="text-center">
    <h1 class="text-4xl text-gray-900 font-bold">Choose Your Plan</h1>
  </div>
  <form action="" method="POST" class="my-10 px-32">
    {% csrf_token %}
    <fieldset class="grid grid-cols-2 gap-4 my-10">
      <legend class="sr-only">Delivery</legend>

      <div class="relative">
        <label for="DeliveryStandard"
          class="flex cursor-pointer justify-between gap-4 rounded-lg text-sm font-medium hover:border-gray-200 rounded-lg border-2 has-[:checked]:border-indigo-500 has-[:checked]:ring-1 has-[:checked]:ring-indigo-500">

          <div class="w-full bg-white">
            <div class="relative z-10 mb-10 overflow-hidden rounded-[10px]  bg-white dark:bg-dark-2 py-10 px-8">
              <span class="mb-3 block text-lg font-semibold text-primary">
                Standard
              </span>
              <h2 class="mb-5 text-[42px] font-bold text-dark dark:text-white">
                <span>$20</span>

              </h2>
              <p class="mb-8 border-b border-stroke dark:border-dark-3 pb-8 text-base text-body-color dark:text-dark-6">
                Perfect for starting out in real estate business.
              </p>
              <div class="mb-9 flex flex-col gap-[14px]">
                <p class="text-base text-body-color dark:text-dark-6">
                  20 property listings
                </p>
                <p class="text-base text-body-color dark:text-dark-6">
                  Some Features unlocked.
                </p>
                <p class="text-base text-body-color dark:text-dark-6">
                  Email Support
                </p>
                <p class="text-base text-body-color dark:text-dark-6">
                  Help center access
                </p>
                <p class="text-base text-body-color dark:text-dark-6">
                  No Phone Support
                </p>

              </div>
              <div>
                <span class="absolute right-0 top-7 z-[-1]">
                  <svg width="77" height="172" viewBox="0 0 77 172" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="86" cy="86" r="86" fill="url(#paint0_linear)" />
                    <defs>
                      <linearGradient id="paint0_linear" x1="86" y1="0" x2="86" y2="172" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#3056D3" stop-opacity="0.09" />
                        <stop offset="1" stop-color="#C4C4C4" stop-opacity="0" />
                      </linearGradient>
                    </defs>
                  </svg>
                </span>
              </div>
            </div>
          </div>

          <input type="radio" name="plan" value="standard" id="DeliveryStandard"
            class="absolute top-3 right-3 z-30 size-5 border-gray-300 text-indigo-500 accent-indigo-600" checked />
        </label>
      </div>

      <div class="relative">
        <label for="DeliveryPriority"
          class="flex cursor-pointer justify-between gap-4 rounded-lg text-sm font-medium hover:border-gray-200 rounded-lg border-2 has-[:checked]:border-indigo-500 has-[:checked]:ring-1 has-[:checked]:ring-indigo-500">

          <div class="w-full bg-white">
            <div class="relative z-10 mb-10 overflow-hidden rounded-[10px] bg-white dark:bg-dark-2 py-10 px-8">
              <span class="mb-3 block text-lg font-semibold text-primary">
                Professional
              </span>
              <h2 class="mb-5 text-[42px] font-bold text-dark dark:text-white">
                <span>$30</span>

              </h2>
              <p class="mb-8 border-b border-stroke dark:border-dark-3 pb-8 text-base text-body-color dark:text-dark-6">
                Perfect for cases when you have a lot to list.
              </p>
              <div class="mb-9 flex flex-col gap-[14px]">
                <p class="text-base text-body-color dark:text-dark-6">
                  30 Property Listings
                </p>
                <p class="text-base text-body-color dark:text-dark-6">
                  All Features unlocked.
                </p>
                <p class="text-base text-body-color dark:text-dark-6">
                  Email Support
                </p>
                <p class="text-base text-body-color dark:text-dark-6">
                  Phone Support
                </p>
                <p class="text-base text-body-color dark:text-dark-6">
                  Community Access
                </p>
              </div>
              <div>
                <span class="absolute right-0 top-7 z-[-1]">
                  <svg width="77" height="172" viewBox="0 0 77 172" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="86" cy="86" r="86" fill="url(#paint0_linear)" />
                    <defs>
                      <linearGradient id="paint0_linear" x1="86" y1="0" x2="86" y2="172" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#3056D3" stop-opacity="0.09" />
                        <stop offset="1" stop-color="#C4C4C4" stop-opacity="0" />
                      </linearGradient>
                    </defs>
                  </svg>
                </span>
              </div>
            </div>
          </div>
          <input type="radio" name="plan" value="pro" id="DeliveryPriority"
            class="absolute top-3 right-3 z-30 size-5 border-gray-300 text-indigo-500 accent-indigo-600" />
        </label>
      </div>
    </fieldset>
    <div class='flex justify-end'>
      <button type="submit"
        class="bg-indigo-600 text-white px-4 py-2 rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:bg-indigo-700">
        Pay via Khalti
      </button>
    </div>
  </form>
</section>
{% endblock content%}