{% extends "main.html" %} {% block content %}
<section class="container mx-auto px-5 lg:px-20">
  <div class="py-8">

    <div class="swiper" data-swiper-autoplay="2000">
      <swiper-container>
        <swiper-slide><img class="lg:h-[600px] w-full object-cover rounded-lg" src="{{property.property_image.url}}"
            alt="" /></swiper-slide>
        {% for image in images %}
        <swiper-slide><img class="lg:h-[600px] w-full object-cover rounded-lg" src="{{image.image.url}}"
            alt="" /></swiper-slide>
        {% endfor %}
      </swiper-container>
      <div class="swiper-pagination">

      </div>
    </div>
  </div>
  <!-- 
    
  listing_type
  name
  location
  price
  description
  parking
  bathroom
  bedroom

  agent.full_name
  email
  phone
  -->

  <div class="grid grid-cols-5 gap-6">
    <div class="col-span-3">
      <div class="py-5">
        <h1 class="text-3xl font-bold">{{property.name}}</h1>
        <p class="flex items-center gap-1 mt-2">
          <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
            </svg>
          </span>
          <span>{{property.location}}</span>
        </p>
        <div class="grid grid-cols-3 gap-2 my-4">
          <p class="flex flex-col justify-center ">
            <span>Bedroom</span>
            <span>{{property.bedroom}}</span>
          </p>
          <p class="flex flex-col justify-center">
            <span>Bathroom</span>
            <span>{{property.bathroom}}</span>
          </p>
          <p class="flex flex-col justify-center">
            <span>Parking</span>
            <span>{{property.parking}}</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-span-2">
      <div class="">
        <p class="p-5 bg-black rounded text-white text-2xl font-bold py-6">$ {{property.price}}
          {% if property.listing_type == 'rent' %}
          /year
          {% endif %}

        </p>
        <div class="w-full space-y-3 mt-2">
          <input type="date" name="date" id="" class="border p-3 rounded w-full block">
          <input type="number" name="phone" id="" class="border p-3 rounded w-full block" placeholder="Phone Number">
          <textarea name="message" id="" cols="30" rows="10" class="border p-3 rounded w-full block resize-none"
            placeholder="Message"></textarea>
        </div>
        <div class="fav">
          <button type="submit" class="bg-rose-700 w-full text-white rounded mt-3 py-4">
            {% if is_favourite %}
            Remove from Favourite
            {% else %}
            Add to Favourite
            {% endif %}
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- For Recommended -->
  <div class="py-10">
    <div class="flex items-center justify-between">
      <h1 class="text-2xl font-bold">Recommended Properties</h1>
      <a href="{% url 'properties' %}" class="flex items-center text-indigo-700">Explore All <svg
          xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="size-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
        </svg>

      </a>
    </div>
    <div class="grid lg:grid-cols-3 gap-8 my-5">
      {% if properties %}
      {% for property in properties %}

      <div class="block rounded-lg p-4 shadow-lg shadow-indigo-100 overflow-hidden relative">
        <span
          class="px-3 absolute mt-5 text-white rounded-r-full py-1 {% if property.listing_type == 'sell' %}bg-red-500{% else %}bg-green-500{% endif %} capitalize">{{property.listing_type}}</span>
        <a href="{% url 'property' property.id %}">
          <img alt="" src="{{property.property_image.url}}" class="h-56 w-full rounded-md object-cover" />
        </a>

        <div class="mt-2">
          <dl>
            <div class="flex items-center justify-between">
              <dt class="sr-only">Price</dt>
              <dd class="text-sm text-gray-500">${{property.price}}</dd>
            </div>

            <div>
              <dt class="sr-only">Address</dt>
              <a href="{% url 'property' property.id %}">
                <dd class="font-medium">{{property.name}}</dd>
              </a>
            </div>
          </dl>

          <div class="mt-6 flex items-center justify-between text-xs">
            <div class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-2">
              <svg class="size-4 text-indigo-700" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M8 14v3m4-3v3m4-3v3M3 21h18M3 10h18M3 7l9-4 9 4M4 10h16v11H4V10z" />
              </svg>

              <div class="mt-1.5 sm:mt-0">
                <p class="text-gray-500">Parking</p>

                <p class="font-medium">{{property.parking}} spaces</p>
              </div>
            </div>

            <div class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-2">
              <svg class="size-4 text-indigo-700" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z" />
              </svg>

              <div class="mt-1.5 sm:mt-0">
                <p class="text-gray-500">Bathroom</p>

                <p class="font-medium">{{property.bathroom}} rooms</p>
              </div>
            </div>

            <div class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-2">
              <svg class="size-4 text-indigo-700" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" />
              </svg>

              <div class="mt-1.5 sm:mt-0">
                <p class="text-gray-500">Bedroom</p>

                <p class="font-medium">{{property.bedroom}} rooms</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</section>

{% endblock content %}